#main {
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
        padding-top: 104px;
    }
    .masthead {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("../img/home_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-section {
    padding: 3rem 0;
}
.page-section#signup {
    padding: 1.5rem 0;
}
.divider-custom {
    margin: 0;
}

.form-floating > .form-control, .form-floating > .form-select {
    height: 4.5rem;
    line-height: 1.25;
}

.page-section#signup .form-floating label {
    font-size: 1.2rem;
}

.page-section#signup .page-section-heading {
    font-size: 2.5rem;
}

.page-section#signup .svg-inline--fa.fa-w-18 {
    width: 0.8em;
}

.page-section#signup .form-floating > .form-control {
    height: 4rem;
}