{% extends 'base.html' %}

{% block title %}Boards{% endblock %}

{% block content %}
<br><br>
<h1 style="text-align: center;">Name of the Board</h1>
<style>
    .square-box {
        max-width: 600px;
        min-height: 600px;
        border: 1px solid #333;
    }
</style>
<br>
<div class="container square-box d-flex justify-content-center">
    <p>DUMMY TEXT</p>
</div>
<br>
<div class="container-md text-center">
    <button type="button" class="btn btn-primary">DISCARD</button>
    <button type="button" class="btn btn-secondary">SAVE</button>
</div>
{% endblock %}