{% extends 'base.html' %}

{% block title %}Boards{% endblock %}

{% block content %}
    <h1 class="text-align-center">{{ board.name }}</h1>
    <div class="container-md text-center">
      <a class="btn btn-primary" href="{% url 'boards:edit' id=board.reference %}">Edit</a>
      <button type="button" class="btn btn-secondary">Share</button>
      </div>
      <br><br>
      <div class="container square-box d-flex justify-content-center">
        <p>{{ board.latest_content }}</p>
      </div>
{% endblock %}
