{% extends 'base.html' %}

{% block title %}Boards{% endblock %}

{% block content %}
<br><br>
    <h1>Boards Details Show Page</h1>
    <style>
        .square-box{
          max-width: 600px;
          min-height: 600px;
          border: 1px solid #333;
        }
      </style>
      <div class="container-md text-center">
        <button type="button" class="btn btn-primary">EDIT</button>
        <button type="button" class="btn btn-secondary">Share</button>
        </div>
        <br><br>
       <div class="container square-box d-flex justify-content-center">
    <p>DUMMY TEXT</p>
       </div>
{% endblock %}
